<br/>
<br/>
<h2>Confirm deletion of estimate</h2>
<br/>
<br/> ID:
<%=  estimate._id %>
  <br> Name:
  <%=estimate.name%>
    <br/> location:
    <%=estimate.location%>
      <br/> squareFeet (Feets):
      <%=estimate.squareFeet%>
        <br/>
        <br/>
        <% for (let j = 0; j < estimate.materials.length; j++) { material = estimate.materials[j]; %>
          <div> Material Name:
            <%=material.materialName%>
              <br/> Material Location:
              <%=material.materialLocation%>
                <br/> Material squareFeet (Feets):
                <%=material.Location%> Feets
                  <br/>
                  <br/>
          </div>
          <% } %>
            <br/>
            <br/>

            <form method="get" action="/estimate">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>

            <br/>
            <form method="POST" action="/estimate/delete/<%= estimate._id %>">
              <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
            </form>