<!-- https://raw.githubusercontent.com/yhnavein/express-starter/master/views/account/login.ejs -->
<div class="row mt-2">
    <div class="col col-md-12">
        <h1>Sign in</h1>
        <hr class="style1">
        <br>
    </div>
    <div class="col col-lg-5 col-md-4 col-sm-4">

        <form method="POST" action="/user/login">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" name="email" id="email" required>
            </div>
            <div class="form-group">
                <label for="pwd">Password</label>
                <input type="password" class="form-control" name="password" id="pwd" required>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="forgot" class="forgot-password">Forgot Password?</a>
        </form>

    </div>
</div>
