<br/>
<br/>
<br/>
<h1>David Moyer</h1>
<h2>Software Developer</h2>
<h1 id="header">About Me</h1>
<section>
    <h2 class="title">My Background</h2>
    <p class="info">I was born in Grain Valley, Missouri, and just recently moved to Maryville to continue to pursue a degree in Computer Science.<br>
        I recently finished my Associates Degree at MCC Blue River using the A+ scholarship and moved up here because I 
        heard the Comp. Science program here was very good.
        <br>
    </p>
</section>
<section>
    <h2 class="title">My Plan</h2>
    <p class="info">My plan is to hopefully finish my degree in Spring of 2019, and start an internship at Cerner as a Systems Engineer in the Summer of 2018.
        My hope is to then be hired by Cerner and continue to learn and develop my skills as a Computer Scientist.
    </p>
</section>
<section>
    <h2 class="title">My Interests</h2>
    <p class="info">I really like to play video games and build computers in my spare time. I also like to come up with concept ideas
        for new products and knowledge that I learn while attending Northwest. I've also put some time into reading books lately
        which is a fun new hobby that I really enjoy. So far, throughout my college career, at MCC and here at Northwest, I've learned
        a lot of new things and I am excited to continue to learn more.
    </p>
</section>
<br>
