<br/>
<br/>
<h2>Confirm to delete estimate cost</h2>
<br/>
<b>Overview</b>
<br/>ID:
<%=estimate._id %>
  <br> Name:
  <%=estimate.name%>
    <br/> Location:
    <%=estimate.location%>
      <br/> Square Feet:
      <%=estimate.squareFeet%>
        <br/>
        <br/>
        <b>There are <%=estimate.materials.length%> Materials </b> <br/>
          <% for (let j = 0; j < estimate.materials.length; j++) { material = estimate.materials[j]; %>
            <div class="arrayItem"> Name:
              <%= material.name %>
                <br/>Unit Cost:
                <%= material.unitcost %>
                  <br/>Square Feet Per Unit:
                  <%= material.coverageSquareFeetPerUnit %>
            </div>
            <br/>
            <% } %>
            <b>Labors</b>
              <br/>Number of People:
              <%=  estimate.numberOfPeople%>
                <br> Number of Days:
                <%=estimate.numberOfDays%>
                  <br/> Hours Worked Per Day:
                  <%=estimate.hoursWorkedPerDay%>
                    <br/> Labor Dollar Per Hour:
                    <%=estimate.laborDollarsPerHour%>
                    <br/>
                    <br/>
                    <b>Hotels</b>
                      <br/>Number of Hotel Rooms:
                      <%=  estimate.numberHotelRooms%>
                        <br> Number of Hotel Nights:
                        <%=estimate.numberHotelNights%>
                          <br/> Dollars Spent Per Night:
                          <%=estimate.hotelDollarsPerNight%><br/> <br/>
                          <b>Foods</b>
                            <br/> Dollars Spent in Food Per Day:
                            <%=estimate.foodDollarsPerDay%> <br/> <br/>
                            <b>Vehicle</b> <br/>
                              Number of Vehicles:
                              <%=estimate.numberOfVehicles%>
                                <br/> Miles Per Vehicle:
                                <%=estimate.milesPerVehicle%>
                                  <br/> Dollar Spend Per Mile:
                                  <%=estimate.dollarsPerMile%>
                                          <br/> <br/>
                                 <b>There are <%=estimate.miscellaneous.length%> Miscellaneous</b>  <br/>
                                    <% for (let j = 0; j < estimate.miscellaneous.length; j++) { misscell= estimate.miscellaneous[j]; %>
                                      <div class="arrayItem"> name:
                                        <%= misscell.misc %>
                                          <br/>Unit Cost:
                                          <%= misscell.cost %>                                                      
                                      </div>
                                      <br/>
                                      <% } %> 
                                    

            <form method="get" action="/estimate">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>

            <br/>
            <form method="POST" action="/estimate/delete/<%= estimate._id %>">
              <input type="submit" value="Delete this item" class="btn btn-danger" />
            </form>


            <!-- Copyright - Northest Missouri State University
Team 6
Unit 6  : Gunhee Lee , Christoper Moody , Pemba Sherpa
Description: This is for about.ejs
NAME                            VERSION                       CHANGES
Name                          0.0.1(Initial)                      change log

-->