<br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <h2>Edit estimate </h2>
      <div class="content">
        <form method="POST" action="/estimate/save/<%= estimate._id %>">
          <div class="form-group" id=frm>
            <label for="_id">ID</label>
            <input type="number" class="form-control" id="_id" name="_id" value="<%= estimate._id %>" required disabled>
          </div>
          <% var sqft = estimate.squareFeet %>

            <!-- COMMON TO EDIT AND CREATE -->
            <%include partial_edit.ejs %>
              <input type="submit" value="Save" class="btn btn-primary" />
        </form>
        <br/>

        <form method="get" action="/estimate">
          <input type="submit" value="Return to list" class="btn btn-caution" />
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Copyright - Northest Missouri State University
Team 6
Unit 6  : Gunhee Lee , Christoper Moody , Pemba Sherpa
Description: This is for about.ejs
NAME                            VERSION                       CHANGES
Name                          0.0.1(Initial)                      change log

-->