<br/>
<br/>
<br/>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../css/404.css">
</head>

<body>
 <h1>404</h1>
 <p class="redAlert"> Page Not Found </p>
 <img src="../../images/newman.gif">
</body>


<br/>
<br/>

<!-- Copyright - Northest Missouri State University
Team 6
Unit 6  : Gunhee Lee , Christoper Moody , Pemba Sherpa
Description: This is for about.ejs
NAME                            VERSION                       CHANGES
Name                          0.0.1(Initial)                      change log

-->