<li class="dropdown">
  <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <% include about_details %>
      <li role="separator" class="divider"></li>
      <li class="dropdown-submenu">
        <a href="#">Mentors <span class="caret"></span> </a>
        <ul class="dropdown-menu">
          <li><a href="#">Instructor Denise Case</a></li>
          <li><a href="#">Instructor Rogers</a></li>
          <li><a href="#">Instructor Nathan Eloe</a></li>
          <li><a href="#">Instructor Wang</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Assistant Naga Sravanthi Modali</a></li>
          <li><a href="#">Assistant Kranthi Kumar Parelly</a></li>
          <li><a href="#">Assistant Bhavishya Arelli</a></li>
        </ul>
      </li>
  </ul>
 </li>

<!-- Copyright - Northest Missouri State University
Team 6
Unit 6  : Gunhee Lee , Christoper Moody , Pemba Sherpa
Description: This is for about.ejs
NAME                            VERSION                       CHANGES
Name                          0.0.1(Initial)                      change log

-->
<!-- Copyright - Northest Missouri State University
Team 2
Unit 11  : Anusha Chowdary.Kollu
Description: This is for about.ejs
NAME                            VERSION                       CHANGES
Name                          0.0.1(Initial)                      change log

-->