<li class="dropdown-submenu">
  <a href="#">2017 Fall Web Apps Section 05<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li class="dropdown-submenu">
      <a href="/about/t1">Team 1 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about/t1/a">David Graf</a></li>
        <li><a href="/about/t1/b">Jordan Zech</a></li>
        <li><a href="/about/t1/c">David Moyer</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about/t2">Team 2 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about/t2/a">Garrett Scribner</a></li>
        <li><a href="/about/t2/b">Sam Gedwillo</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about/t3">Team 3 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about/t3/c">Sreevani Anoohya Tadiboina</a></li>
        <li><a href="/about/t3/a">Aawaj Raj Joshi</a></li>
        
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about/t4">Team 4 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about/t4/a">Nista Shrestha</a></li>
        <li><a href="/about/t4/b">Rahul Reddy Lankala</a></li>
        <li><a href="/about/t4/c">Lhakpa Sherpa</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about/t5">Team 5 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about/t5/a">Arpana Pokhrel</a></li>
        
        <li><a href="/about/t5/c">Jacob Katsion</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about/t6">Team 6 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about/t6/a">Gunhee Lee</a></li>
        <li><a href="/about/t6/b">Christopher Moody</a></li>
        <li><a href="/about/t6/c">Pemba Sherpa</a></li>
      </ul>
    </li>
<!-- <li class="dropdown-submenu">
      <a href="/about/t7">Team 7 <span class="caret"></span></a>
      <ul class="dropdown-menu">
         <li><a href="/about/t7/c">Pemba Sherpa</a></li>
      </ul>
    </li> -->
    <li class="dropdown-submenu">
      <a href="/about/t8">Team 8 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about/t8/a">Meghana Mayaluri</a></li>
        
      </ul>
    </li>
<!-- <li class="dropdown-submenu">
      <a href="/about/t9">Team 9 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about/t9/c">Lhakpa Sherpa</a></li>
      </ul>
    </li> -->
    <li class="dropdown-submenu">
      <a href="/about/t10">Team 10 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about/t10/a">David M. Small</a></li>
      </ul>
    </li>
    <li class="dropdown-submenu">
      <a href="/about/t11">Team 11 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about/t11/a">Anusha Chowdary Kollu</a></li>
        
      </ul>
    </li>
<li class="dropdown-submenu">
      <a href="/about/t12">Team 12 <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="/about/t12/a"></a></li>
      </ul>
    </li>
   
  </ul>
</li>

<!-- Copyright - Northest Missouri State University
Team 6
Unit 6  : Gunhee Lee , Christoper Moody , Pemba Sherpa
Description: This is for about.ejs
NAME                            VERSION                       CHANGES
Name                          0.0.1(Initial)                      change log

-->
<!-- Copyright - Northest Missouri State University
Team 2
Unit 11  : Anusha Chowdary.Kollu
Description: This is for about.ejs
NAME                            VERSION                       CHANGES
Name                          0.0.1(Initial)                      change log

-->