</br>
</br>
<hr>
</br>
<footer class="footer">
 <div class="container">
   <p>&copy; 2017</p>
   <p class="text-muted"><a href="https://bitbucket.org/professorcase/node-express-mvc-ejs-start">Repository</a></p>
 </div>
</footer>

<!-- Copyright - Northest Missouri State University
Team 6
Unit 6  : Gunhee Lee , Christoper Moody , Pemba Sherpa
Description: This is for about.ejs
NAME                            VERSION                       CHANGES
Name                          0.0.1(Initial)                      change log

-->