<div class="container-fluid">
    <div class=row>
        <div class="col col-md-12">
            <h1>Estimates!</h1>
            <br/>
            <h2>Use this area to display information. </h2>
            <br/>
            <hr>
            <h3>During development, test your api here.</h3>
            <br/>
            <br/>
            <h4>GET a view</h4>
            <ol>
                <ol>
                    <li>
                      <a href="http://localhost:8085/estimate">http://localhost:8085/estimate</a>
                    </li>
                    <li>
                      <a href="http://localhost:8085/estimate/create">http://localhost:8085/estimate/create</a>
                    </li>
            
                    <li>
                      <a href="http://localhost:8085/estimate/edit/1">http://localhost:8085/estimate/edit/1</a>
                    </li>
                    <li>
                      <a href="http://localhost:8085/estimate/edit/2">http://localhost:8085/estimate/edit/2</a>
                    </li>
                    <li>
                      <a href="http://localhost:8085/estimate/edit/3">http://localhost:8085/estimate/edit/3</a>
                    </li>
            
                    <li>
                      <a href="http://localhost:8085/estimate/delete/1">http://localhost:8085/estimate/delete/1</a>
                    </li>
                    <li>
                      <a href="http://localhost:8085/estimate/delete/2">http://localhost:8085/estimate/delete/2</a>
                    </li>
                    <li>
                      <a href="http://localhost:8085/estimate/delete/3">http://localhost:8085/estimate/delete/3</a>
                    </li>
            
                    <li>
                      <a href="http://localhost:8085/estimate/details/1">http://localhost:8085/estimate/details/1</a>
                    </li>
                    <li>
                      <a href="http://localhost:8085/estimate/details/2">http://localhost:8085/estimate/details/2</a>
                    </li>
                    <li>
                      <a href="http://localhost:8085/estimate/details/3">http://localhost:8085/estimate/details/3</a>
                    </li>
            
                  </ol>
                  <br/>
                  <h4>GET JSON</h4>
                  <ol>
            
                    <li>
                      <a href="http://localhost:8085/estimate/findall">http://localhost:8085/estimate/findall</a>
                    </li>
                    <li>
                      <a href="http://localhost:8085/estimate/findone/1">http://localhost:8085/estimate/findone/1</a>
                    </li>
                    <li>
                      <a href="http://localhost:8085/estimate/findone/2">http://localhost:8085/estimate/findone/2</a>
                    </li>
                    <li>
                      <a href="http://localhost:8085/estimate/findone/3">http://localhost:8085/estimate/findone/3</a>
                    </li>
            
                  </ol>
                <!-- add more links here -->
            </ol>
        </div>
    </div>
</div>


<!-- Copyright - Northest Missouri State University
Team 6
Unit 6  : Gunhee Lee , Christoper Moody , Pemba Sherpa
Description: This is for about.ejs
NAME                            VERSION                       CHANGES
Name                          0.0.1(Initial)                      change log

-->