body{
    margin: 0;
    padding: 0;
    font-family: Arial,serif;
}

.logo{
    color: #ffffff;
    float: left;
    padding-left: 25px;
    font-size: 45px;
    font-weight: bold;
}

.logo > a{
    text-decoration: none;
    color: #000000;
}

.banner{
    width: 100%;
    display: block;
}
.banner > .banner-image{
    width: 100%;
    display: block;
    height: 400px;
}

.service1{
    width: 290px;
    border: 1px solid #c1c1c1;
    margin: 20px 75px;
    padding: 0 5px;
    float: left;
}

.service1 > p {
    font-size: 14px;
    color: #636363;
    max-width: 250px;
}

.services{
    width: 1400px;
    margin: 0 auto;
}
h1{
    font-size: 16px;
    font-weight: bold;
    background-color: #c1c1c1;
    color: #ffffff;
    padding: 10px 0;
    margin: 0 -6px;
}

.image{
    max-width: 250px;
    margin: 15px 0 0 0;
}
#myImage{
    max-width: 150px;
    border-radius: 50%;
    margin: 15px 0 0 0;
}
.heading{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 50px 0 50px 0;
}
.image:hover{
    opacity: 0.2;
    max-width: 250px;
    margin: 15px 0 0 0;
}

#iframe {
    clear: both;
    margin-left: 50px;
    text-align: center;
    border:none;
    width: 600px; 
    height: 400px; 
    margin: 80px 50px 30px 0;
}

#contact_label{
    text-align: center;
    font-size: 30px;
    margin-top: 80px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#tip_label{
    clear: both;
    text-align: center;
    font-size: 3em;
    margin-top: 20px;
    margin-left: 80px;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.formbody{
    text-align: center;
}
#email{
    padding: 17px 100px 17px 15px;
    border:none;
    border-radius:5px;
    font-size: 16px;
    font-weight: bold;
    font-family:sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin-top: 30px;
  }

#price{
    padding: 17px 100px 17px 15px;
    border:none;
    border-radius:5px;
    font-size: 16px;
    font-weight: bold;
    font-family:sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin-top: 30px;
  }
  #tax{
    padding: 17px 100px 17px 15px;
    border:none;
    border-radius:5px;
    font-size: 16px;
    font-weight: bold;
    font-family:sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin-top: 30px;
  }
  #party{
    padding: 17px 100px 17px 15px;
    border:none;
    border-radius:5px;
    font-size: 16px;
    font-weight: bold;
    font-family:sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin-top: 30px;
  }

  .signButton{
    padding: 16px 30px 16px 30px;
    background-color: #5c6ac4;
    font-size: 16px;
    color: #FFF;
    font-weight: bold;
    border-radius:5px;
    border:none;
    font-family:sans-serif;
    margin-left:5px;
    box-shadow: 3px 3px 3px grey;
    margin-bottom: 30px;
  }
.circle{
      border-radius: 50%;
  }

.icons{
    clear: both;
    height: 35px;
    width: 35px;
    margin: 40px 0 20px 310px;
}
#label{
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}
#input_label{
    clear: both;
    font-weight: bold;
    font-size: 2em;
    padding-right: 20px;
}
p{
    text-align: center;
    color: #c1c1c1;
    font-size: 15px;
    font-weight: bold;
}
#calculateButton{
    clear: both;
    text-align: center;
    padding: 16px 30px 16px 30px;
    background-color: #5c6ac4;
    font-size: 16px;
    color: #FFF;
    font-weight: bold;
    border-radius:5px;
    border:none;
    font-family:sans-serif;
    margin-left:90px;
    box-shadow: 3px 3px 3px grey;
    margin-bottom: 30px;
}

#clearButton{
    clear: both;
    text-align: center;
    padding: 16px 30px 16px 30px;
    background-color: red;
    font-size: 16px;
    color: #FFF;
    font-weight: bold;
    border-radius:5px;
    border:none;
    font-family:sans-serif;
    margin: 30px 0 0 50px;
    box-shadow: 3px 3px 3px grey;
    margin-bottom: 30px;
}
#resultMessage{
    font-weight: bold;
    color: rebeccapurple;
    font-family: sans-serif;
    font-size: 2em;
    margin: 30px 0 0 120px;

}



