<br/>
<br/>
<div style="background-color:aquamarine">
<br/>
<h1>Rahul Reddy Lankala</h1>
<h2>Software Developer</h2>
<img src="p.jpg">

<br>
<section>
    <h2 id="backgroundHeader">Background</h2>
    <p class="background"> I stayed most of my life in hyderabad.And now i moved<br>
        to maryville for my education.Maryville is a small and pleasant city. </p>
</section>
<section>
    <h2 id="plansHeader">Plans</h2>
    <p class="background">My plan is to pursue my master's and return back to my country<br>
        and start a job carrer in an reputed company.And work for that company for 4-5 years<br>
        and have a plan to start an start up.</p>
</section>
<section>
    <h2 id="interestsHeader">Interests</h2>
    <p class="background">I show more interest to play strategic games.<br>
        And i love to go for long drives and to play outdoor games.</p>
</section>
<br>
<br>
</div>
<br/>
<br/>
