<!DOCTYPE html>
<html>
<div style="background-color:aliceblue" />

<body class="body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10">

                <header>
                    <h1 id="basicinfo">Here is the basic information about me</h1>
                    <h2>Educational Background</h2>
                </header>
                <p span style="color:red">I am from India and I completed my bachelors from Jyothishmathi Institute Of<br> Technology And Science in
                    ECE department which is located in karimnagar
                    <br>and now I am doing my masters in computer science department</p>
                </span>
            </div>
            <!-- <div class="col-md-2">
                <img id="mypic" src="../../public/images/mypc.jpg" alt="image" height="200" width="200">
            </div> -->
        </div>

        <div class="row1">
            <div class="col-md-10">
                <h3>My Plans</h3>
                <p class="my">I want to become a software engineer in one of the multi national companies</p>
            </div>
            <div class="col-md-2">

            </div>
        </div>
        <section>
            <div class="row">
                <div class="col-md-10">
                    <h4>My Interests</h4>
                    <iframe width="460" height="215" src="https://www.youtube.com/embed/d5oz2OZzzfc" allowfullscreen></iframe>
                    <p class="my">I am vey much intersted in playing games like</P>

                    <ol>
                        <li>Shuttle </li>
                        <li> Carroms </li>
                        <li> Chess </li>
                    </ol>
                    <br>
                    <p>Skills</p>
                    <ol>
                        <li>C </li>
                        <li> HTML </li>

                    </ol>
                    <P class="my"> and myhobbies are watching TV and playing with my sister and coming<br> to software programming I am
                        intrested in web technology</p>
                </div>
            </div>
            <div class="col-md-2">

            </div>
        </section>
        <div class="row">
            <div class="col-md-10">

                <ul>
                    <li><a href="https://github.com/s530714">GITHUB</a></li>
                    <li><a href="https://bitbucket.org/S530714/">BITBUCKET</a></li>
                    <li><a href="https://www.linkedin.com/feed/">LINKEDIN</a></li>
                </ul>


                <footer>copyrights 2017</footer>
            </div>
        </div>
        <div class="col-md-2">

        </div>
</body>

</html>