<br/>
<br/>
<br/>
<head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="../../css/Katsion_JacobA01.css" />
    
    <title>Jacob</title>
    
</head>

<body>
    
<!--<ul>
    <li><a href="Katsion_JacobA01.html">Home</a></li>
    <li><a href="myChoice.html">My Choice</a></li>
    <li><a href="contact.html">Contact Me</a></li>
</ul>	

    <p>eeeeeeeyh!!!</p>-->
    
    <article>
        <h1 class="aboutMe"> About Me:</h1>
            <section class="boldAndBrash">
                My name is, <h3 class="gray">Jacob Katsion</h3>
                <h2>Background</h2>
                <p>
                I am from Maryville Missouri,<br> 
                I'm majoring in GIS,<br> 
                and I am a part-time construction worker.<br> 
                (I call this color/font boldAndBrash).
                </p>
            </section>
            <section class="solidBorder">
                <h3>Interests</h3>
                <p>
                I plan to get a job that involves lots of travel and<br> 
                supports my artistic interests.
                </p>
            </section>
            
            <p id="bigOrange">Also, my favorite color is orange.</p>
            
            <section class="italics solidBorder">
                <h3>Plans</h3>
                <p>
                I am interested in the earth and the many cultures that<br>
                inhabit it. I am also interested in all forms of art<br>
                and hope to discover one that I am good at.
                </p>
                <br>
            </section>
            <div>
                <img src="../../images/profile.jpg">
            </div>
    </article>
    <footer id="white">The End<br>Image source:<a href="https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwj2v-brxoLWAhWXxIMKHX4KDZAQjhwIBQ&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3Dlt0WQ8JzLz4&psig=AFQjCNF0ImXMV03QbmC23VgXunvEgFkJzw&ust=1504299970097420">7 Terrifying Monsters we Have Discovered in Space</a></footer>
</body>
<br/>
<br/>