<br/>
<br/>
<br/>
<h1>Sam Gedwillo</h1>
<h2>Software Developer</h2>
<main>
    <img src="../../images/Gedwillo.jpg" width="245" height="326" class="img-circle" style="text-align: center"  alt="Myslef"/> 
<div class="leftAlign">
<section>
    <h2 class="classStyle1">About Me</h2>
    <p class="classStyle2">
        My name is Sam Gedwillo. I am a Junior and I am studying Computer Science.
        I am from Omaha, Nebraska. I am currently employed at Mutual of Omaha as a remote Software Engineering Intern.
        I enjoy playing sports, working out, video games, and playing fantasy football.
    </p>
</section>
</div>	
</main>
<br/>
<br/>