<br/>
<br/>
<br/>
<h1>David Graf</h1>
<h2>Software Developer</h2>
<h3>Introducing myself</h3>
<section class="mainsection1">
    <h2>My background</h2>
    <p>
        I am an exchange student from Austria. I grew up in St.Valentin which is a small town in the north-east of Austria. I am
        currently studing for my master degree in Computer Science at the Johannes-Kepler-University of Linz. There my focus
        is on Intelligent Information Systems which includes several classes for Data Science and also Web Engineering. Beside
        my study I am working for a software company which develops software for hospitals.
    </p>
</section>
<section class="mainsection2">
    <h2>My plans</h2>
    <p>
        Currently I am not sure how to continue after I have finished my study. One option for me is to continue with an academic
        carrer if there are possibilites. Another option is to continue with my current job or looking for new challenges in
        a new job.
    </p>
</section>
<section class="mainsection2">
    <h2>My interests</h2>
    <p>
        I like traveling in other countries and cultures. I like outdoor activities, my favourite sports are climbing and hiking.
        In addition, I am interessted in geography, history and politics. And of course in all kind of technology and computers.
    </p>
</section>
<br/>
<br/>