
<br/>
<br/>
<br/>
<div style="background-color: lightblue ;">
<h1>Lhakpa Sonam Sherpa</h1>
<h2>Software Developer</h2>
<h4> Background </h4>
    <p>I am from Pangboche, Nepal. I am a junior.
    My major is Computer and Information Science.
    This summer I got an opportunity to do an internship in Boston as an automation tester.
    This was my first experience working in the field of technology</p>
    
    <h4>Plans</h4>
 <p>   I am interested to work as a web developer.
    And I want to excel in HTML, CSS, and MEAN stack to fulfill my career goal.
   </p> 
    <h4>Interests</h4>>
    <p>I am interested in Java and JavaScript. I like traveling and visiting new places.
    I am also a big fan of soccer and I follow English Premier League.
    I am an adventurous person and my hobbies are trekking, skiing, bouldering and rock climbing.</p>
</div>
        
<img src = "https://bytebucket.org/s525286/a03/raw/efb8c65a867cf61af094790faae2f8092dcfa15d/assets/sss.jpg">
<br/>
<br/>