<br/>
<br/>
<br/>
<h1>Arpana Pokhrel</h1>
<h2>Software Developer, UnderGraduate Student- Northwest Missouri State University</h2>

<p> My major is Management Information System. I am an international student from Nepal. 
    I am senior here at Northwest. I am currently involved in various organization like 
    Student senate, Internationa Student organization and etc. I am an RA in Dieterich Hall </p>

<br/>
<br/>