<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" type="text/css" href="Small_David.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<title>David</title>
	</head>
	<body>
	<header><section>David M. Small</section><h1 id="name">About David Small</h1></header>
		<section>
	<h3 class="header">Background</h3>

	<p>I am a non-traditional student at <span class="important">30 years of age</span><br>
	having lived in a town in Missouri called Skidmore for the last 20 years.<br>
	I am currently working on an Undergraduate degree in <span class="important">Interactive Digital Media: Computer Science</span><br>
	and have no prior work experience.</p>
	<h3 class="header">Plans</h3>
	<p>While I have no solid plans for the future I would like to go into <span class="important">creating video games.</span><br>
	Otherwise my education is merely a means of self-improvement.</p>
	<h3 class="header">Interests</h3>
	<p>My interests include:<br></p>
	<ol class="important">
		<li>Anime featuring mecha</li>
		<li>Computers</li>
		<li>Video Games</li>
	</ol>
	<br>
	<br>
	</section>
	</body>
</html>