<br/>
<br/>
<br/>
<h1>Christoper Moody</h1>
<h2>Software Developer</h2>
<main>
    <img src="../../images/Moody_Christopher.jpg" width="300" height="300" class="img-circle" style="text-align: center" alt="Myslef" /> 
    <h1 id="style1">About Me</h1>
<div class="leftAlign">
<section>
    <h2 class="classStyle1">Background</h2>
    <p class="classStyle2">
        I'm from a small town in Iowa called Knoxville, known as the Sprint Car Capital of the World! I am studying Interactive Digital Media with a Concentration in Computer Science. I currently work on campus as a TA for Web Development II, and as a Graphic Design Assistant for the Office of Marketing and Communications! I also do freelance work as a web developer under Cameron at Open Caret out of Omaha, NE; and at the Group Homes here in Maryville, MO. 
    </p>
</section>
<section>
    <h2 class="classStyle1">Plans</h2>
    <p class="classStyle2">
        After graduating this year I hope to find a job where I can continue mastering my skills that I have obtained from Northwest. I am looking into the Web Design/Development field, but still unsure. I want to be able to use my design skills alongside my knowledge of code, therefore I feel like Web Design/Development will fit best!
    </p>
</section>
<section>
    <h2 class="classStyle1">Interests</h2>
    <p class="classStyle2">
    <img src="images/Football_Game.jpg" width="150" height="150" class="img-circle" style="text-align: center; float: right;" alt="My freinds and I at the football game."/> 	
        I enjoy hanging out with my friends in my spare time and staying up to date on the latest trends in my field of study. I enjoy watching documentaries and to be constantly be learning! Some programming languages that I know are: Python, Java, Swift, HTML, CSS, JS, SASS, MySQL, and PHP.
    </p>
</section>
<h2 class="classStyle1">Northwest Welcome Video</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/cB5Wq8TQKA8"  allowfullscreen style="clear: both;"></iframe>

</div>	
</main>
<br/>
<br/>