<br/>
<br/>
<br/>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../css/leestyle.css">
</head>

<h1>Gunhee Lee</h1>
<h2>Software Developer</h2>

<body>

    <div class="banner">
        <img class="banner-image" src="../../images/pic.jpg">
    </div>

    <div class="heading">CATEGORIES</div>

    <div align="center" class="services">
        <div class="service1">
            <h1>Background</h1>
            <img class="image" src="../../images/me.png">
            <p> I am Gunhee Lee, and I am from South Korea. I transferred to the Northwest Missouri State University in August
                2014. While in Korea, I studied criminology which is totally different from GIS I am studying currently.
                Before I came to the United States, I had learned English by myself for two years. When I got here at first
                in 2014, I barely spoke English and did not have any knowledge about Cartography so I had a hard time improving
                my English and studying Cartography.</p>
        </div>

        <div class="service1">
            <h1>plans</h1>
            <img class="image" src="../../images/computer.jpg">
            <p>I am really interested in getting a job in technology field. I was already going to study web programming languages.
                I have never learned about HTMl and CSS so, this class would be great chance for me to improve my another
                programming languages such as HTML,CSS and Java Scripts other than other programming languages such as Java,
                Python and Android. My goal is to make at least 3 android application until before graduation. </p>
        </div>

        <div class="service1">
            <h1>Interest</h1>
            <img class="image" src="../../images/soccer.jpg">
            <p>I like playing sports such as soccer and basketball. So, I go out every sunday to play soccer with maryville
                soccer team at Donaldson Park. I am very interested in learning programming languages and want to improve
                my skills as much as I can before I graduate. </p>
        </div>
    </div>

    <div>
        <br/>
        <iframe id="iframe" src="https://www.youtube.com/embed/wxQR5kokq68"></iframe>
    </div>
</body>


<br/>
<br/>