<br/>
<br/>
<br/>
<h1>Jordan Zech</h1>
<h2>Software Developer </h2>

<h1 id="header">About Me</h1>
<section>
    <h2 class="title">Background</h2>
    <p class="info">I was born and raised in Maryville. I currently work at Kawasaki in Maryville.<br> I have two brothers and one sister.
        I am a junior at Northwest. <br> Recently, I have only been taking enough credits to be a part time student.
        <br>
    </p>
</section>
<section>
    <h2 class="title">Plan</h2>
    <p class="info">As of right now my plan is to try and get an internship this summer in <br> Kansas City. Then I will have to come back
        for one more semester in the fall. <br> Hopefully graduating in the winter and then I plan on moving to Kansas city.
    </p>
</section>
<section>
    <h2 class="title">Interests</h2>
    <p class="info">I really enjoy playing golf in my spare time. Also I like playing video games and <br> spending time with friends and family.
        The language I am most comfortable with is Java.
    </p>
</section>
<br>

<br/>
<br/>