<br/>
<br/>
<br/>
<h1>Garrett Scribner</h1>
<h2>Software Engineer</h2>
<main>
    <img src = "img//mahSefie.jpg" width = "150" height = "150" class = "img-circle" style = "text-align: center" alt = "myself"/>
<hr>
    <header><h2 id="centerText">About Me</h2></header>
<article>
<aside id="centerText2">A little about me</aside>
<hr>
    <section>
            <img src = "img//dog.jpg" width = "150" height = "150" class = "img-circle" style = "text-asign: center; float: left; padding-right: 20;" alt = "2dogs"/>
        <h3>Background</h3>
            <p>I was born in Independence, Missouri and moved to Kearney, Missouri<br>
            when I was young. I had a small 3 person family with 2 dogs. Here at Northwest <br>
            Missouri State University I am studying Management Information Systems. I also <br>
            have two on campus jobs. I work in the President's Office and in Mass Marketing <br>
            and Comunications.</p>
    </section>
    <section>
        <h3 style = "clear: both;">Plans</h3>
            <p>I have not put too much thinking into my future up until now. My curent<br>
            plan is to apply every where and try to get a feel for what is out there<br>
            and to see what my work force interests are. I know that since I grew up in<br>
            the Kansas City area that I would like to branch out and move away but if all<br>
            else fails I will apply to Cerner and hopefully work for them.</p>
    </section>
    <section>
        <h3>Interests</h3>
            <p>My tech interests are to the the technology its self. I love reading about<br>
            the next big Apple launch or the counter release by Samsung. I also like the<br>
            concept of everything being able to connect together and always being able to<br>
            access anything from anywhere. In recent years it has become better at reducing<br>
            data redundency. I have worked with different programming languages such as Java,<br>
            Python, and HTML. I like Java the most out of all the ones I have used but I look<br>
            forward to learning more in the	future. On the flip side though some of my favorite<br>
            hobbies include hanging out with friends and going to the lake over summer. In high<br>
            school I played a lot of soccer but now that I am in college I find myself doing a<br>
            lot less strenuous activities but still enjoying the outdoors.</p>
    </section>
</article>
<iframe width="560" height="315" src="https://www.youtube.com/embed/2k9MHT2tuUQ"  allowfullscreen></iframe>
<br>
</main>

<br/>
<br/>