<br/>
<br/>
<head>
Sherpa Pemba
</head>
<body>
    <h3 id="background"> Background </h3>
    <p class="back">
        I am from Nepal. My hometown is kathmandu.<br>
        My major is Computer Science and Minor in Mathematics.<br>
        I have worked as Teaching Assistant in Descrete Mathematics last semester and also this semester.<br>
    </p>
    <h3 id="plans"> Plans </h3> 
    <p class="plans"> 
             I planned on completing my education from Northwest Missouri
            State University with good GPA.<br> 
             I wanted to focus on job-oriented knowledge.<br> 
    
    </p>
    <h3 id="interests"> Interests </h3>
        <p class="Interest">
        I love playing Basketball and enjoy watching NBA.<br>
        I love working on project in Java. <br>
     
        </p>	</div>
</body>

